:root
{
   --rootGreen: #0E8106;
   --rootYellow: #ECB10B;
   --rootPurple: #190002;
}

*
{
  max-width: 1440px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Zen Antique', serif;
  background-image: url(../img/gettyimages.jpg);
  background-color: black;
  background-size: cover;
  color: whitesmoke;
  font-size: 2rem;
}

h1
{
  text-align: center;
  color: WHITE;
}

h2
{
  text-align: center;
  color: WHITE;
  margin: 0px 10px;
}

main
{
  display: grid;
  grid-template-columns: .5fr 3fr .5fr;
}

.betContainer
{
  display: grid;
  justify-content: center;
}

.cashAndClearNumberContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.cashButton, .clearNumbers
{
  text-align: center;
  margin: 5px 55px;
  padding: 25px;
  border-radius: 50%;
  font-size: 2rem;
  border: solid white 2px;
  background-color: #055033;
  color: white;
}

.clearNumbers
{
  background-color: white;
  background-color: #055033;
  color: white;

}

.numbersContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2px;
  border: var(--rootYellow);

}

.betDiv
{
  font-size: 4rem;
  border-radius: 50%;
  border: solid 2px var(--rootYellow);
  margin: 5px;
  padding: 5px;
  background-color: black;
 }

 .betDiv:hover
 {
  background-color: var(--rootGreen);
  color: black;
 }

.bet
{
  font-size: 4rem;
  border-radius: 50%;
  /* border: solid black 5px; */
  margin: 5px;
  padding: 15px;
  text-align: center;
}

.clearBet
{
  text-align: center;
  margin: 55px 55px 0 55px ;
  padding: 25px;
  border-radius: 50%;
  font-size: 2rem;
  border: solid white 2px;
  background-color: #055033;
  color: white;
  grid-column: 1/span 2;
}


.clearBet:hover, .numberDiv:hover,.cashButton:hover, .clearNumbers:hover
{
  background-color:var(--rootYellow);
  color: black;
  border: black 2px solid;
}


.marksContainer
{
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin: 0 5px 0 5px;
  background-color: var(--rootPurple);
  border-radius: 10px;
  border: solid 1px var(--rootYellow);

}

.marksChosen
{
  text-align: center;
  font: 2rem;
  margin: 5px;
  padding: 2px;
  color: var(--rootYellow);
}

.marksChosenHeader
{
  border-radius: 10px;
  border: solid none 5px;
  text-align: center;
  margin: 5px;
  padding: 2px;
}

.footer
{
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  margin-bottom: 0;

}

.unclicked
{
  background-color: var(--rootGreen);
  border: var(--rootYellow);
}

.clicked
{
  background-color: var(--rootPurple);
  border: var(--rootYellow);
}

.numberDiv
{
  text-align: center;
  border-radius: 10px;
  border: solid var(--rootYellow) 3px;
  margin: 5px;
  padding: 15px;
}

/* ************* *
  Modal
* ************* */
.hide
{
  display: none;
}

.modalContainer
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: transparent;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.container
{
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: #200000;
  width: 1000px;
  height: 80vh;
  border-radius: 20px;
  color: black;
  border-bottom: solid white;
}

.modalHeader
{
  font-weight: 800;
  font-size: 3rem;
  background-color: gold;
  width: 100%;
  text-align: center;
  color: royalblue;

}

.modalBody
{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.numpadContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

.numpadContainer > .numberDiv
{
  padding: 25px 35px;
  background-color: var(--rootPurple);
  border-style:ridge;
  border-radius: 10px;
  color: white;
}

.numpadContainer > .numberDiv:hover
{
  background-color: var(--rootYellow);
  color: black;
  border-color: white;
}

.cashInputContainer
{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  color: white;
}

.cashInputContainerHeader
{
  font-weight: bolder;
}

.confirmButtons
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.confirm, .closeButton
{
  background-color: white;
  border-radius: 20%;
  border: solid green 2px;
  color: black;
  margin: 20px 30px ;
  padding: 25px 45px;
  justify-self: center;
  text-decoration: none;
}

.confirm > a
{
  text-decoration: none;
  color: black;

}

.confirm:hover, .closeButton:hover
{
  background-color: gold;
  color: black;
}

.giveChange
{
  color: green;
  font-weight: bolder;
}

.noChange
{
  color: #FF0000;
  font-weight: bolder;
}

/* ************* *
  Receipt Page
* ************* */

.receiptPage
{
  height: 100vh;
  background-color: transparent;
  font-size: 2rem;
}

.receiptContainer
{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 35%, rgba(0,212,255,1) 100%);    border: none;
  max-width: 440px;
  margin: auto;
  border-radius: 10px;
}

.receiptContainer p 
{
  color: #200000;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.receiptContainer > .cashInputContainer, .receiptContainer > .marksContainer
{
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
  }

.receiptPage > .closeButton
{
  margin: 20px 30px ;
  padding: 15px 35px;
  position: fixed;
  right: 200px;
  top: 0;
  border-radius: 15px;
  background: white;
  border: solid red 5px;

}

.receiptPage .closeButton a
{
  font-size: 1.5rem;
  text-decoration: none;
  color: #190002;
}

.receiptContainer > .footer
{
  position: fixed;
  bottom: 0;
  background-color: black;
}

.receiptPage  .changeDue
{
  color: var(--rootYellow);
}

.totalBet
{
  color: var(--rootGreen);
}
.receiptContainer .cashInputContainerHeader, .receiptContainer .confirmButtons, .receiptContainer .totalBet
{
  display: none;
}

.receiptContainer .marksContainer
{
  grid-template-rows: 1fr;

}

/* ************* *
Media Queries
* ************* */
