*
{
  max-width: 1440px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Lobster', cursive;
  background-image: url(../img/bingo.jpg);
  background-color: black;
  background-size: cover;
  color: whitesmoke;
  font-size: 2rem;
}

h1
{
  text-align: center;
  color: WHITE;
  text-shadow: 4px 4px #FF0000;
}

h2
{
  text-align: center;
  color: WHITE;
  text-shadow: 4px 4px purple;
  margin: 0px 10px;
}

main
{
  display: grid;
  grid-template-columns: .5fr 3fr .5fr;
  text-shadow: 2px 2px #300808;
}

.betContainer
{
  display: grid;
  text-shadow: 2px 2px #300808;
  justify-content: center;
}

.cashAndClearNumberContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-shadow: 2px 2px #300808;
}

.cashButton, .clearNumbers
{
  text-align: center;
  margin: 5px 55px;
  padding: 25px;
  border-radius: 45%;
  font-size: 2rem;
  border: solid white 5px;
  background-color: green;
  text-shadow: 2px 2px #300808;
}

.clearNumbers
{
  background-color: white;
  border: solid green 5px;
  color: black;
}

.numbersContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2px;
  text-shadow: 2px 2px #300808;
}

.betDiv
{
  font-size: 4rem;
  border-radius: 50%;
  border: solid greenyellow 4px;
  margin: 5px;
  padding: 5px;
  background-color: black;
 }

 .clearBet:hover, .numberDiv:hover,.cashButton:hover, .clearNumbers:hover
{
  background-color: greenyellow;
  color: black;
}

 .betDiv:hover
 {
  background-color: greenyellow;
  color: black;
 }

.bet
{
  font-size: 4rem;
  border-radius: 50%;
  border: solid blue 10px;
  margin: 5px;
  padding: 15px;
  text-align: center;
}

.clearBet
{
  text-align: center;
  margin: 55px 55px 0 55px ;
  padding: 25px;
  border-radius: 45%;
  font-size: 2rem;
  border: solid black 5px;
  background-color: white;
  color: blue;
  grid-column: 1/span 2;
}

.numberDiv
{
  text-align: center;
  border-radius: 10px;
  border: solid green 5px;
  text-shadow: 2px 2px #300808;
  margin: 5px;
  padding: 15px;
}

.marksContainer
{
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-shadow: 2px 2px #300808;
  margin: 0 5px 0 5px;
}

.marksChosen
{
  text-align: center;
  font: 2rem;
  margin: 5px;
  padding: 2px;
}

.marksChosenHeader
{
  border-radius: 10px;
  border: solid none 5px;
  text-align: center;
  margin: 5px;
  padding: 2px;
}

.footer
{
  display: grid;
  grid-template-columns: 1fr;
  text-shadow: 2px 2px #300808;
}

.green
{
  background-color: green;
}

.red
{
  background-color: red;
}

/* ************* *
  Modal
* ************* */
.hide
{
  display: none;
}

.modalContainer
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: transparent;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.container
{
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: #bcbd9f;
  width: 1000px;
  height: 80vh;
  border-radius: 20px;
  color: black;
}

.modalHeader
{
  font-weight: 800;
  font-size: 3rem;
  background-color: gold;
  width: 100%;
  text-align: center;
  color: royalblue;
}

.modalBody
{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.numpadContainer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

.numpadContainer > .numberDiv
{
  padding: 25px 35px;
  background-color: darkkhaki;
  border-style:ridge;
  border-radius: 2px;
}

.numpadContainer > .numberDiv:hover
{
  background-color: gold;
  color: aqua;
  border-color: royalblue;
}

.cashInputContainer
{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.cashInputContainerHeader
{
  font-weight: bolder;
}

.confirmButtons
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.confirm, .closeButton
{
  background-color: white;
  border-radius: 20%;
  border: solid green 2px;
  color: black;
  margin: 20px 30px ;
  padding: 25px 45px;
  justify-self: center;
  text-decoration: none;
}

.confirm:hover, .closeButton:hover
{
  background-color: gold;
  color: aqua;
}

.giveChange
{
  color: green;
  font-weight: bolder;
}

.noChange
{
  color: #FF0000;
  font-weight: bolder;
}

/* ************* *
  Receipt Page
* ************* */

.receiptPage
{
  height: 100vh;
  background-color: transparent;
  font-size: 2rem;
}

/* .receiptPage > .header
{
  padding-top: 0px;
} */

.receiptContainer
{
  border: blanchedalmond 2px solid;
  max-width: 440px;
  margin: auto;
}

.receiptContainer p 
{
  color: red;
  text-align: center;

}

.receiptPage > .closeButton
{
  margin: 20px 30px ;
  padding: 5px 15px;
  position: fixed;
  right: 200px;
  top: 0;
}

.receiptContainer > .footer
{
  position: fixed;
  bottom: 0;
}

.receiptContainer .cashInputContainerHeader, .receiptContainer .confirmButtons, .receiptContainer .totalBet
{
  display: none;
}

.receiptContainer .marksContainer
{
  grid-template-rows: 1fr;

}


